<div class="animated fadeIn">
    <section id="contact-us" class="section section-contact-us wow fadeInUp" data-wow-offset="40" style="visibility: visible; animation-name: fadeInUp;">
        <div class="header-section">
            <h2 class="h2-section">CONTACT ME</h2>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="form-content">
                    <h3>LET'S HAVE A FUN</h3>
                    <form id="contactForm" data-toggle="validator">
                        <input type="text" id="nameEmail" placeholder="Name" required="">
                        <input type="email" id="email" placeholder="Email" required="">
                        <textarea id="message" placeholder="Message" required=""></textarea>
                        <input type="submit" id="form-submit" value="SEND" style="pointer-events: all; cursor: pointer;">
                        <div id="msgSubmit" class="h5 text-center hidden alert alert-success" style="visibility: hidden;"></div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="info-content">
                    <h3>KEEP IN TOUCHE</h3>
                    <div class="address">
                        <span class="info-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span class="info-text">Culiacán, Sinaloa, MX</span>
                    </div>
                    <div class="email">
                        <span class="info-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span class="info-text">ramonantoniojr@gmail.com</span>
                    </div>
                    <div class="telephone">
                        <span class="info-icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <span class="info-text">667 1043281</span>
                    </div>
                    <div class="website">
                        <span class="info-icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                        <span class="info-text">https://ramonse9.github.io/portafolio/</span>
                    </div>
                </div>
            </div>
        </div>       
        

    </section>
</div>