<div *ngIf="!service.cargandoPersonal">
<div class="animated fadeIn">
    <section id="about" class="section section-about">
        <div class="profile">
            <div class="row">
                <div class="col-sm-4">
                    <div class="photo-profile">
                        <img [src]="service.personalJSON.imageURL" alt="{{ service.personalJSON.name }}" >
                    </div>
                    <a href="assets/resumepdf/ResumeRamonAntonioGuzman_p.pdf" target="cv">
                        <div class="download-resume">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                            <span class="text-download">DOWNLOAD RESUME</span>
                        </div>
                    </a>
                    <div class="available">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span class="text-available">available on freelance</span>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="info-profile">
                        <h2><span>HI I'M</span> {{ service.personalJSON.name }}</h2>
                        <h1 class="h3">{{ service.personalJSON.position }} </h1>
                        <p>{{ service.personalJSON.about }}</p>
                        <div class="row">
                            <div class="col-sm-5">
                                <ul class="ul-info">
                                    <li class="li-info">
                                        <span class="title-info">Age</span>
                                        <span class="info">{{ service.personalJSON.age}}</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Address</span>
                                        <span class="info">{{ service.personalJSON.address}}</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Email</span>
                                        <span class="info">{{service.personalJSON.email}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="ul-info">
                                    <li class="li-info">
                                        <span class="title-info">Phone</span>
                                        <span class="info">{{ service.personalJSON.phone}}</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Website</span>
                                        <span class="info">{{ service.personalJSON.website}}</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Nationality</span>
                                        <span class="info">{{ service.personalJSON.nationality }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div *ngIf="!service.cargandoSocialMedia" class="col-sm-12">
                                <span class="title-links">Social Links</span>
                                <ul class="ul-social-links">
                                    <li class="li-social-links">
                                        <a href="https://www.facebook.com/ramonantonio.guzmanbeltran" data-tootik="Facebook" data-tootik-conf="square"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="li-social-links">
                                        <a [href]="service.socialMediaJSON.link" data-tootik="Facebook" data-tootik-conf="square"><i class="fa fa-{{service.socialMediaJSON.name}}" aria-hidden="true"></i>{{service.socialMediaJSON.name}}</a>
                                    </li>                                                                              
                                    <li class="li-social-links">
                                        <a href="https://www.linkedin.com/in/ramon-antonio-guzman-79263716a/" data-tootik="Linkedin" data-tootik-conf="square"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>