<div class="animated fadeIn">
    <section id="about" class="section section-about">
        <div class="profile">
            <div class="row">
                <div class="col-sm-4">
                    <div class="photo-profile">
                        <img src="assets/img/ragb_p.jpg" alt="Ramón Antonio Guzmán">
                    </div>
                    <a href="assets/resumepdf/ResumeRamonAntonioGuzman_p.pdf" target="cv">
                        <div class="download-resume">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                            <span class="text-download">DOWNLOAD RESUME</span>
                        </div>
                    </a>
                    <div class="available">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span class="text-available">available on freelance</span>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="info-profile">
                        <h2><span>HI I'M</span> Ramón Antonio Guzmán</h2>
                        <h1 class="h3">web developer </h1>
                        <p>Hello! I’m Ramón Antonio Guzmán. Web Developer with over 13 years of experience.
                        Experienced with all stages of the development cycle for dynamic web projects.
                        Some of my most used tools in web development are HTML5, CSS3, Bootstrap, JavaScript, Angular, React JS, Vue JS, C#, SQL Server, etc. Strong background in management and leadership.</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="ul-info">
                                    <li class="li-info">
                                        <span class="title-info">Age</span>
                                        <span class="info">34</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Address</span>
                                        <span class="info">Culiacán, Sinaloa, MX</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Email</span>
                                        <span class="info">ramonantoniojr@gmail.com</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="ul-info">
                                    <li class="li-info">
                                        <span class="title-info">Phone</span>
                                        <span class="info">667 1043281</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Website</span>
                                        <span class="info">https://ramonse9.github.io/resume/</span>
                                    </li>
                                    <li class="li-info">
                                        <span class="title-info">Nationality</span>
                                        <span class="info">Mexican</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-12">
                                <span class="title-links">Social Links</span>
                                <ul class="ul-social-links">
                                    <li class="li-social-links">
                                        <a href="https://www.facebook.com/ramonantonio.guzmanbeltran" data-tootik="Facebook" data-tootik-conf="square"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>                                                                              
                                    <li class="li-social-links">
                                        <a href="https://www.linkedin.com/in/ramon-antonio-guzman-79263716a/" data-tootik="Linkedin" data-tootik-conf="square"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>