<section *ngIf="service.cargandoEducation" class="loading" >   
    <i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
</section>
<div class="animated fadeIn">
    <section id="education" class="section section-education">
        <div class="header-section">
            <h2 class="h2-section">EDUCATION &amp; CERTIFICATIONS</h2>
        </div>
        <div *ngIf="!service.cargandoEducation">
            <div class="row">                
                <div class="col-sm-4" *ngFor="let education of service.educationJSON">
                    <div class="education-content">                        
                        <div class="period">                            
                            <h3><i class="fa fa-file-text" aria-hidden="true"> </i> {{ education.title }}</h3>
                        </div> 
                        <ul class="ul-education">                            
                            <li class="li-university">
                                <div class="university">
                                    <span class="education-icon"><i class="fa fa-university" aria-hidden="true"></i></span>
                                    <span class="university-name">{{ education.subtitle }}</span>
                                </div>
                            </li>
                        </ul>                        
                        <p class="prg-education">{{education.content}}</p>                        
                    </div>
                </div>
                
            </div>
        </div>
      
    </section>
</div>
