<section *ngIf="service.cargandoEducation" class="loading" >   
    <i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
</section>
<div *ngIf="!service.cargandoEducation" class="animated fadeIn">
    <section id="education" class="section section-education">
        <div class="header-section">
            <h2 class="h2-section">EDUCATION &amp; CERTIFICATIONS</h2>
        </div>       
        <div class="row">                
            <div class="col-sm-4" *ngFor="let education of service.educationJSON">
                <div class="education-content">                        
                    <div class="period">                            
                        <h3><i class="fa fa-file-text" aria-hidden="true"> </i> {{ education.title }}</h3>
                    </div> 
                    <ul class="ul-education">                                
                        <i class="fa fa-university" aria-hidden="true"></i>
                        {{ education.subtitle }}                           
                    </ul>                        
                </div>
            </div>                
        </div>
    </section>
</div>
