<section *ngIf="service.cargandoConferences" class="loading" >   
    <i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
</section>
<div *ngIf="!service.cargandoConferences" class="animated fadeIn">
    <section id="education" class="section section-conferences">
        <div class="header-section">
            <h2 class="h2-section">CONFERENCES</h2>
        </div> 
            <div class="row">                
                <div class="col-sm-4" *ngFor="let conference of service.conferencesJSON">
                    <div class="conferences-content">                        
                        <div class="period">                            
                            <h3><i class="fa fa-laptop-code" aria-hidden="true"> </i> {{ conference.name }}</h3>
                        </div> 
                        <ul class="ul-conferences">                               
                            <span class="conferences-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            {{ conference.place }}
                        </ul>                        
                    </div>
                </div>
            </div>      
    </section>
</div>
